.container-bg {
  background-image: url(../assets/images/contact-us.png);
}

#services-content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#services-content .form {
  width: 100%;
  margin: 0 0 10vw 0;
}
#services-content #messageTxt {
  margin-bottom: 3vw;
}
#services-content .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
#services-content .group.p5 {
  padding: 0 5vw;
  width: 90%;
}
#services-content .group.grey-bg {
  background-color: #354465;
}
#services-content .group .w15f {
  width: 15%;
}
#services-content .group .w75f {
  width: 75%;
}
#services-content .group .w100f {
  width: 100%;
}
#services-content .group .w90f {
  width: 90%;
  padding: 0 5vw;
}
#services-content .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
#services-content .tabs .tab {
  width: 100%;
  padding: 1.5vw 0;
  border-bottom: 0.1vw solid rgba(255, 255, 255, 0.2);
  font-size: 2vw;
  font-family: Oswald;
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5vw 0;
  letter-spacing: 0.1vw;
  cursor: pointer;
}
#services-content .tabs .tab.active::before {
  content: "";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(../assets/images/point.png);
  width: 0.8vw;
  height: 0.8vw;
  background-size: 100% 100%;
  margin: 0.5vw;
}
#services-content .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#services-content .content .tab-content {
  display: none;
}
#services-content .content .tab-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#services-content .content .tab-content .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 7vw;
}
#services-content .content .tab-content .row.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
#services-content .content .tab-content .row.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
#services-content .content .tab-content .row .location {
  width: 40vw;
  height: 22vw;
}
#services-content .content .tab-content .row .location img {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#services-content .content .tab-content .row .bg-blue {
  background-image: url(../assets/images/div.png);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2vw 0 4vw;
  width: 27vw;
  height: 30vw;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#services-content .content .tab-content .row .bg-blue.end {
  top: -3vw;
  left: -2vw;
}
#services-content .content .tab-content .row .bg-blue.start {
  top: -3vw;
  right: -2vw;
}
#services-content .content .tab-content .row .title p {
  font-size: 3vw;
  letter-spacing: 0vw;
  text-transform: none;
}
#services-content .content .tab-content .row .descrbtion-title {
  margin-top: 1.5vw;
}
#services-content .content .tab-content .row .descrbtion-title p {
  font-size: 1.5vw;
  font-weight: bold;
  text-transform: none;
  margin: 0;
}
#services-content .content .tab-content .row .descrbtion {
  margin: 0;
}
#services-content .content .tab-content .row .descrbtion p {
  text-transform: none;
  margin: 0;
}
#services-content .border-left {
  width: 100%;
  height: 20vw;
  border-left: 0.1vw solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
#services-content .group-inputs {
  width: 46%;
}

@media (orientation: portrait) {
  .container-bg {
    background-image: url(../assets/images/contact-us-mob.png);
  }
  #services-content {
    top: -25vw;
  }
  #services-content .group.p5 {
    padding: 0 5vw;
    width: 90%;
  }
  #services-content .group .w15f {
    width: 100%;
  }
  #services-content .group .w75f {
    width: 100%;
    margin-top: 7vw;
  }
  #services-content .group .w100f {
    width: 100%;
  }
  #services-content .group .w90f {
    width: 90%;
    padding: 0 5vw;
  }
  #services-content .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #services-content .tabs .tab {
    width: 30%;
    font-size: 4vw;
    margin: 0.5vw 1vw;
    letter-spacing: 0.1vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: text-align 0.3s;
    transition: text-align 0.3s;
  }
  #services-content .tabs .tab.active {
    border-bottom: 0.1vw solid rgba(255, 255, 255, 0.8);
  }
  #services-content .tabs .tab.active::before {
    content: none;
  }
  #services-content .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #services-content .content .tab-content {
    display: none;
  }
  #services-content .content .tab-content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #services-content .content .tab-content .row {
    height: 68vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #services-content .content .tab-content .row.start {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  #services-content .content .tab-content .row.end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  #services-content .content .tab-content .row .location {
    width: 100%;
    height: 45vw;
  }
  #services-content .content .tab-content .row .bg-blue {
    padding: 0 2vw 0 4vw;
    width: 75vw;
    height: 75vw;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #services-content .content .tab-content .row .bg-blue.end {
    top: -3vw;
    left: 5vw;
  }
  #services-content .content .tab-content .row .bg-blue.start {
    top: -3vw;
    left: 5vw;
  }
  #services-content .content .tab-content .row .title p {
    font-size: 7.5vw;
  }
  #services-content .content .tab-content .row .descrbtion-title {
    margin-top: 3vw;
  }
  #services-content .content .tab-content .row .descrbtion-title p {
    font-size: 4.5vw;
  }
  #services-content .border-left {
    width: 100%;
    height: 20vw;
    border-left: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  #services-content .group-inputs {
    width: 100%;
  }
}