#footer {
  padding: 2vw;
  background-color: rgb(4, 18, 47);
  position: relative;
  z-index: 10000;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .col {
      display: flex;
      flex-direction: column;


      &.w30f {
        width: 30%;
      }

      &.w15f {
        width: 15%;
      }

      .logo {
        margin: 0;
      }

      .descrbtion {
        margin-left: 1vw;
      }

      .title-list {
        p {
          font-family: Montserrat;
          font-weight: bold;
          font-size: 1.3vw;
          margin-bottom: 0.5vw;
          text-transform: uppercase;
        }
      }

      .list {
        p {
          font-size: 1vw;
          font-family: Montserrat;
          display: flex;
          margin-top: 0.8vw;
          align-items: center;

          &::before {
            content: '';
            flex-wrap: wrap;
            background-image: url(./assets/images/point.png);
            width: 0.5vw;
            height: 0.5vw;
            background-size: 100% 100%;
            margin: 0.5vw;
          }
        }
      }


      .listServices {
        .rowList {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-top: 0.8vw;

          .point {
            background-image: url(./assets/images/point.png);
            width: 0.5vw;
            height: 0.5vw;
            background-size: 100% 100%;
            margin: 0.5vw;

          }

          p {
            font-size: 1vw;
            font-family: Montserrat;
            align-items: center;
            margin: 0;
            width: 5vw;
            text-align: start;
          }
        }
      }

      button {
        p {
          font-size: 1vw;
        }
      }

      .error {
        margin: 1vw 0;

      }

      .groupInput {
        display: flex;
        align-items: center;
        border-bottom: 0.1vw solid white;
        padding-bottom: 0.2vw;
        margin: 1vw 0;

        input {
          height: 100%;
          outline: none;
          background-color: transparent;
          border: none;
          width: 20vw;
          color: white;
          font-family: Montserrat;
          font-size: 1vw;
        }

        .link-parag {
          p {
            font-size: 1vw;
            font-family: Montserrat;
            font-weight: bold;
          }
        }
      }
    }

  }

  .line {
    width: 100%;
    border-bottom: 0.1vw solid rgba(255, 255, 255, 0.2);
    margin: 2vw 0;
  }

  .copyRight {
    width: 100%;
    text-align: center;

    p {
      font-family: Montserrat;
      font-size: 1.2vw;
      margin-bottom: 1vw;

    }
  }
}

#popup {
  // width: 100%;
  // height: 100%;
  // background-color: rgba(255, 255, 255, 0.4);
  // position: fixed;
  // top: 0;
  // left: 0;

  .popup-content {
    position: fixed;
    width: 28vw;
    height: 12vw;
    bottom: 2%;
    left: 2%;
    background-color: white;
    padding: 2%;
    z-index: 10000;

    .title-ploicy {
      p {
        font-size: 1.5vw;
        color: black;
        font-weight: 700;
      }
    }

    .descrbtion-ploicy {
      margin: 2vw 0;

      p {
        font-size: 1vw;
        color: black;
      }

    }




  }

}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-ploicy {
    width: 8vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1vw solid #02153C;
    cursor: pointer;

    p {
      font-size: 1.2vw;
      color: #02153C;
    }

    &.accept {
      background-color: #02153C;

      p {
        color: white !important;

      }
    }


  }
}

#policy {
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: 6vh;
  height: 6vh;
  background-image: url(./assets/images/revisit.svg);
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 100000000;

}

#popupPolicey {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .popup-content {
    background: #fff;
    border-radius: 10px;
    background: #fff;
    border-radius: 10px;
    width: 70%;
    height: 70%;
    padding: 3%;
    overflow-y: scroll;
    position: relative;

    .close {
      position: absolute;
      top: 4%;
      right: 2%;
      background-image: url(./assets/images/close.svg);
      background-size: 100% 100%;
      width: 3%;
      height: 3%;
      cursor: pointer;
    }

    .tilte {
      margin-bottom: 1vw;

      p {
        color: black;
        font-size: 1.5vw;
        font-weight: 700;
      }
    }

    .des {
      margin-bottom: 1vw;

      p {
        color: black;
        font-size: 1.2vw;
      }
    }

    .small-title {
      p {
        color: black;
        font-size: 1.4vw;
        font-weight: 700;
      }
    }
  }

  p {
    color: black;
  }

  .category {
    border-top: 1px solid #ddd;
    padding: 10px 0;
  }

  .btns {
    .btn-ploicy {
      width: 21vw;
      height: 3.5vw;
    }
  }

}

.marginleft {
  margin-left: 1vw !important;
}


@media (orientation: portrait) {


  #footer {
    padding: 5vw 2vw;

    .logo {
      width: 45vw;
      height: 8.5vw;
    }

    .content {


      .col {

        button {
          p {
            font-size: 3vw;
          }
        }

        &.w30f {
          width: 100%;
        }

        &.w15f {
          width: 49%;
          margin-left: 3vw;
          margin-top: 7vw;
        }

        &.w35f {
          width: 37%;
          margin-top: 7vw;
        }

        .descrbtion {
          margin-left: 3vw;
        }

        .title-list {
          margin-top: 6vw;

          p {
            font-size: 4.3vw;
            margin-bottom: 1.5vw;
          }
        }

        .m3l {
          margin-left: 3vw;
        }

        .list {
          p {
            font-size: 3.8vw;
            margin-top: 1vw;

            &::before {
              content: '';
              width: 2vw;
              height: 2vw;
            }
          }
        }

        .listServices {
          .rowList {

            margin-top: 1vw;

            .point {
              width: 2vw;
              height: 2vw;

            }

            p {
              font-size: 3.8vw;
              width: 20vw;
            }
          }
        }


        .groupInput {
          display: flex;
          align-items: center;
          border-bottom: 0.1vw solid white;
          padding-bottom: 0.2vw;
          margin: 2vw 0;
          margin-left: 3vw;

          form {
            width: 100%;

          }

          input {
            width: 70%;
            font-size: 3.8vw;
            height: 12vw;

          }

          .link-parag {
            p {
              font-size: 3.8vw;
            }
          }
        }
      }

    }

    .line {
      margin: 9vw 0;
    }

    .copyRight {

      p {
        font-size: 4vw;
        margin-bottom: 4vw;

      }
    }
  }

  #popup {
    // width: 100%;
    // height: 100%;
    // background-color: rgba(255, 255, 255, 0.4);
    // position: fixed;
    // top: 0;
    // left: 0;

    .popup-content {
      width: 75%;
      height: auto;
      padding: 4%;

      .title-ploicy {
        p {
          font-size: 5vw;
        }

      }

      .descrbtion-ploicy {
        margin: 4vw 0;

        p {
          font-size: 3.5vw;
        }

      }




    }
  }

  .btns {
    justify-content: space-around;

    .btn-ploicy {
      width: 20vw;
      height: 9vw;
      cursor: pointer;

      p {
        font-size: 3.5vw;
        color: #02153C;
      }


    }
  }

  #popupPolicey {

    .popup-content {

      width: 85%;
      height: 57%;
      padding: 4%;
      overflow-y: scroll;


      .tilte {
        margin-bottom: 2vw;

        p {
          font-size: 4.5vw;
        }
      }

      .des {
        margin-bottom: 2vw;

        p {
          font-size: 3.5vw;
        }
      }

      .small-title {
        margin-bottom: 1vw;

        p {
          font-size: 3.8vw;
        }
      }
    }





    .btns {
      .btn-ploicy {
        width: 26vw;
        height: 9.5vw;
        text-align: center;
      }
    }

  }

}