#navbar {
    width: 100%;
    height: 12vh;
    z-index: 1000;
    position: relative;

    .navbar-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;



        .content-right {
            width: 28%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .icon {
                background-size: 100% 100%;
                margin-right: 1.5vw;
                height: 2vw;

                &.linkedin {
                    background-image: url(./assets/images/linkedin.png);
                    width: 2vw;
                }


            }

            .line {
                height: 100%;
                opacity: 15%;
                border-left: 0.2vw solid #FFFFFF;
            }

            #languageSelect {
                background-color: transparent;
                border: 0;
                padding: 5px 10px;
                font-size: 1.3vw;
                color: rgba(255, 255, 255, 1);
                font-family: Montserrat;
                text-transform: uppercase;

                option {
                    background-color: #03153cbb;
                    color: white;
                    font-size: 1.3vw;

                }

                // -webkit-appearance: none;
                // /* لإزالة السهم الافتراضي على Safari/Chrome */
                // -moz-appearance: none;
                // /* لإزالة السهم الافتراضي على Firefox */
                // appearance: none;
            }

            /* إضافة سهم بنفس اللون الأبيض */


            .lang {
                display: flex;

                p {
                    font-size: 1.3vw;
                    color: rgba(255, 255, 255, 1);
                    font-family: Montserrat;
                    text-transform: uppercase;

                    &.active {
                        font-weight: 600;
                    }
                }

            }

            .menu {
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 2.8vw;
                    color: rgb(255, 255, 255);
                    margin: 0 0.5vw;
                    margin-top: 0.5vw;

                }

                p {
                    font-size: 1.2vw;
                    text-transform: uppercase;
                    font-family: Oswald;
                    font-weight: 500;


                }

            }

        }
    }
}

@media (orientation: portrait) {
    #navbar {
        height: 8vh;

        .navbar-content {
            .content-right {
                width: 45%;
                justify-content: space-between;

                .icon {
                    height: 4.5vw;

                    &.linkedin {
                        width: 4.5vw;
                    }


                }

                .line {
                    display: none;
                }

                .lang {

                    p {
                        font-size: 4vw;
                    }

                }

                #languageSelect {
                    font-size: 3vw;

                    option {

                        font-size: 3vw;

                    }


                }

                .menu {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 9vw;
                    }

                    p {
                        display: none;
                    }

                }

            }
        }
    }
}
