.container-bg {
    background-image: url(../assets/images/news.png);
}

#news-content {
    padding: 0 5vw;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;

    .item-list {
        width: 88%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
            width: 35vw;
            display: flex;
            flex-direction: column;
            margin-bottom: 3vw;

            .border-left {
                border-left: 0.1vw solid rgba(255, 255, 255, 0.3);
                padding: 1vw;
            }

            .descrbtion {
                margin-left: 1vw;
                margin-top: 0;
            }
        }
    }

    .pagination {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
            background-size: 100% 100%;
            width: 4vw;
            height: 4vw;
            margin: 1vw;
            cursor: pointer;

            &.next {
                background-image: url(../assets/images/next.png);

            }

            &.prev {
                background-image: url(../assets/images/prev.png);

            }
        }

        p {
            font-family: Oswald;
            font-size: 2vw;
        }





    }


}

@media (orientation: portrait) {
    .container-bg {
        background-image: url(../assets/images/news-mo.png);
    }

    #news-content {
        top: -20vw;

        .item-list {
            .item {
                width: 100%;
                margin-bottom: 10vw;

                .border-left {
                    border: none;
                }
            }
        }

        .pagination {
            .btn {
                width: 8vw;
                height: 8vw;
            }

            p {
                font-size: 6vw;
                margin: 0 5vw;
            }

        }
    }

}